# SINTAXIS PYTHON

* tipos de datos
* variable
* operadores

In [1]:
numero = 15
print(numero)

15

hola paquito

In [2]:
edad = 20
salary = 1900.43
edad

20

In [3]:
complex(1, 1)

(1+1j)

In [4]:
type(edad)

int

In [5]:
type(salary)

float

In [6]:
##operadores aritméticos

In [7]:
salary = 1500.0
bonus = 101.34

final_salary = salary + bonus
final_salary

1601.34

In [8]:
salary_without_bonus = salary - bonus

In [9]:
salary_without_bonus

1398.66

In [10]:
# Operacion modulo o resto, permite saber si un numero es par o impar
5 % 3

2

In [11]:
'''
Esto es un comentario de varias líneas
Operación módulo
'''
5 % 2

1

In [12]:
'''
Division enterea
'''

2024 / 100

20.24

In [13]:
product1_price = 36.33
product2_price = 44.55
final_price = product1_price + product2_price
final_price

80.88

In [14]:
verdadero = True
falso = False

In [15]:
type(verdadero)

bool

In [16]:
dato = bool(0)
dato

False

In [17]:
edad = 15

if edad >= 18 

else

SyntaxError: expected ':' (3167567134.py, line 3)

### Operador And

In [ ]:
edad = 17
has_access = edad >= 18 and edad <=22
print(has_access)

salary = 3400
has_discount = salary >= 1200 and salary <= 2300 
print(has_discount)

False
False

In [ ]:
# or: es mas flexible, con que una de las opciones sea verdadero ya será verdadero todo el resultado
edad = 17 
has_tutor = True
has_discount = True

has_access = edad >= 18 or has_tutor or has_discount
has_access

True

In [ ]:
# or: es mas flexible, con que una de las opciones sea verdadero ya será verdadero todo el resultado
edad = 17 
has_tutor = True
has_discount = True

# has_access = (edad >= 18) | has_tutor | has_discount #cuidado, necesita parentesis para funcionar bien
# has_access = (edad >= 18) | has_tutor | has_discount
has_access = edad >= 18 or has_tutor or has_discount
has_access

True

### Operador not

In [ ]:
not has_access

False

## Strings

In [ ]:
# Suma (concatenación de strings)

"Hola Mundo" + "Estamos usando Python"
# podemos añadir un espacio enmedio +" "+

'Hola MundoEstamos usando Python'

In [1]:
string = "Hola Mundo, esto es una cadena en PYTHON!"

string

'Hola Mundo, esto es una cadena en PYTHON!'

In [ ]:
string.lower()

'hola mundo, esto es una cadena en python!'

In [ ]:
string.capitalize()

'Hola mundo, esto es una cadena en python!'

In [ ]:
string.title()

'Hola Mundo, Esto Es Una Cadena En Python!'

In [ ]:
string.upper()

'HOLA MUNDO, ESTO ES UNA CADENA EN PYTHON!'

In [ ]:
string

'Hola Mundo, esto es una cadena en PYTHON!'

In [ ]:
string.swapcase()

'hOLA mUNDO, ESTO ES UNA CADENA EN python!'

In [ ]:
string.replace("Mundo", "planeta")
# No modifica el string original

'Hola planeta, esto es una cadena en PYTHON!'

In [ ]:
# La variable string sigue siendo la misma, no se ha modificado

string

'Hola Mundo, esto es una cadena en PYTHON!'

In [ ]:
string.find("PYTHON")

34

In [2]:
string.index("PYTHON")

34

In [3]:
string.find("Mundo")

5

la diferencia entre index y find es: find devuelve un valor centinela, y si devuelve -1 para saber que no nos da lo que buscabamos

In [4]:
string.index("planeta")

ValueError: substring not found

pycharm muestra texto extra en la descripcion de count

In [5]:
string.count("a")

4

In [6]:
string.count("A")

0

In [7]:
string

'Hola Mundo, esto es una cadena en PYTHON!'

In [8]:
string.split()

['Hola', 'Mundo,', 'esto', 'es', 'una', 'cadena', 'en', 'PYTHON!']

In [13]:
alumnos = """
Alan
Noelia
Carlos
Jose Ignacio
Emilio
noelia
"""

persona = "Noelia"
alumnos.lower().count(persona.lower())

2

In [ ]:
string.split()

split puede hacer que te separe un vector en distintos strings, separados

In [17]:
nombres = "carlos, luis, noelia, carolina"
lista_nombres = nombres.split(",")
print(lista_nombres[0])
print(lista_nombres[1])
print(lista_nombres[2])
print(lista_nombres[3])

carlos
 luis
 noelia
 carolina

hemos visto los procesos:
count()
index()
swapcase()
upper()
lower()
replace()
find()
split()

### Indexing & Slicing

- **Indexing:** Es la forma de "acceder" o "entrar" a un solo elemento de un **objeto iterable** (strings, lists, dict...) lo que sea que queramos iterar.
    - Se utilizan los corchetes `[ ]` para hacer indexing.      
    

- **Slicing:** Es la forma de "acceder" o "entrar" a varios elementos de un **objeto iterable** (string, lists, dict...).
    - Al igual que indexing se utilizan corchetes `[ ]` pero se le agregan el caracter `:`.
        
**En python el primer elemento de un objeto iterable tiene indice 0.**

Para saber el tamaño de un objeto iterable podemos usar la función **`len()`**.

cada letra tiene una posición y contamos desde 0
podemos acceder a una letra o a un grupo de letras, que determinamos con los corchetes [] y dentro ponemos la posicion a la que queremos acceder
se puede acceder desde 0 al final o si ponemos numeros negativos, vamos contando hacia detrás

![slicing_indexing_1.jpg](attachment:slicing_indexing_1.jpg)

Si estamos haciendo slincing y el primer elemento es el comienzo del objeto podemos hacer
<p style="text-align: center;"> <strong>string[0:10]</strong> o <strong>string[:10]</strong> </p>


Y si el ultimo elemento del slicing es el final del objeto podemos hacer:
<p style="text-align: center;"> <strong>string[10:20]</strong> o <strong>string[10:]</strong> </p>

In [33]:
print(string[0])
print(string[1])
print(string[2])
print(string[3])
print(string[55]) # porque nos hemos pasado de la longitud del string

H
o
l
a

IndexError: string index out of range

In [28]:
len(string) # len nos dice el maximo de tamaño del string

41

In [ ]:
print(string[0])
print(string[1])
print(string[2])
print(string[3])
print(string[40]) # porque nos hemos pasado de la longitud del string

H
o
l
a
!

In [ ]:
#calculado:
longitud = len(string)
ultima_posicion = longitud - 1
string[ultima_posicion]
# compacto:
# string[len(string-1)

# negativo (más rápidos de escribir a nivel de código)
#  string[-1]

# a ojo:
# string[40]

'!'

In [ ]:
# Si quisieramos el primer elemento de este string, usariamos [0]

string[0]

In [23]:
# Si quisieramos el elemento numero 10 del string usamos [9]

string[9]

'o'

Debido a que los indices comienzan en 0 si quisieramos "acceder" al indice **x** usariamos el indice **x - 1**.

In [43]:
# Para el último elemento del string podemos usar [40] o [-1]

string[40]

'!'

In [42]:
string[-1]

'!'

In [44]:
# Si quisiera un elemento fuera de ese rango

# string[1000]

En python, podemos hacer indexing de **izquierda a derecha**, comenzando en 0 y se suma 1 hasta el último indice que sería el tamaño del objeto menos 1.

También se puede hacer indexing de **derecha a izquierda**, esta vez comenzando desde -1 y, en lugar de sumar 1, se resta 1.

**Ejemplo:**

In [46]:
string = "Hola Mundo, esto es una cadena en PYTHON!"

string[-1]

'!'

In [47]:
string[-2]

'N'

In [48]:
string[-3]

'O'

In [49]:
string[-4]

'H'

In [50]:
string[-5]

'T'

In [51]:
string[-10]

'e'

In [52]:
string

'Hola Mundo, esto es una cadena en PYTHON!'

Slicing

In [58]:
# Para hacer slicing usariamos [start:end]

string[0:4]

'Hola'

In [59]:
# El slicing termina una posición antes al numero que le digamos
# Es decir, no incluye al último elemento OJO!! 

string[2:7]

'la Mu'

In [60]:
# También podemos usar indices negativos
string[-8 : -3]

' PYTH'

In [61]:
string[:10]

'Hola Mundo'

In [62]:
string[10:]

', esto es una cadena en PYTHON!'