# EJERCICIO MÓDULO 3:

Uso de Pandas y Seaborn + algún gráfico de Plotly.

Dataset: diamonds.

IMPORTANTE: cargar el dataset desde CSV desde la carpeta Data porque tendrá nulos introducidos manualmente.

* PARTE 1: 25 % carga y limpieza
    * Carga con Pandas: pd.read_csv

    * Limpieza de valores error: 
        * hay columnas que tienen un valor '?', por tanto se deben reemplazar por un valor nan.

    * Cambio de tipo de dato: .astype() a numéricos y textos, por ejemplo a categorical y carat a float32 o float16

    * Limpieza de nulos (limpiar valores NaN):
        * Nulos en columnas continuas: mediana, media
        * Nulos en columnas categóricas: moda, un valor fijo

    * Encoding: texto a numérico
        * Uso de la función get_dummies() para encoding one_hot
        * Uso de map para encoding ordinal para la columna cut como una nueva columna cut_int: 1, 2, 3, 4

* PARTE 2: 25 % transformaciones:
    * Crear una columna price_iva a partir de la columna price que muestre el precio + IVA (21%). 
        * Ejemplo df['price'] * 1.21 

    * Crear una columna price_discount usando apply a partir de la columna price(con lambda o def):
        * price < 1000 and cut == 'Ideal' entonces 10 % descuento
        * 1000 <= price <= 5000 and cut == 'Premium' entonces 15 % descuento
        * si no entra en las condiciones sin descuento, devolver el precio original

    * Crear una nueva columna volumen combinando: x * y * z

    * Ordenar por dos columnas con sort_values():
        * tipo de corte (cut) y precio (price)

    * Agrupaciones con groupby y visualizarla
        * Agrupar por las 3 que hay de tipo categórico calculando la media, max, min por ejemplo de alguna de las numéricas: price, carat, depth

* PARTE 3: 20 % distribuciones: 

* Outliers: Visualización Q1 y Q3 y calcular límites tukey y filtrar. Sobre la columna precio.

* asimetría, curtosis y transformar datos con logaritmo o raíz cuadrada, aplicar sobre precio, visualizar el histograma y/o boxplot por tipo de corte. Opcional ajustar la escala.

* Discretizar la columna precio por barato, medio, caro usando la función pd.cut


* PARTE 4: 30 % visualizaciones:

* Seaborn EDAS:
    * univariantes:
        * histogramas y curvas de densidad
        * boxplot
        * countplot
    * bivariantes y multivariantes
        * scatterplot con hue, con size, con style
        * Calcular correlación con Pandas y mostrarla con seaborn
        * Hacer la correlación en un gráfico de barras para la columna 'price'
        * Crear una pivot table usando como index y columns algunas variables categóricas y como values usar el price y visualizarla con heatmap de seaborn
    * Combinarlas con:
        * hue, style, size, row, col usando un relplot
        * filtro

# EJERCICIO MÓDULO 3:

Uso de Pandas y Seaborn + algún gráfico de Plotly.

Dataset: diamonds.

IMPORTANTE: cargar el dataset desde CSV desde la carpeta Data porque tendrá nulos introducidos manualmente.

## PARTE 1: 
25 % carga y limpieza

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
# todos los necesarios para el ejercicio mientras usemos np y sns
import matplotlib.pyplot as plt
from scipy import stats
import pickle as pkl

### 1.1. Carga con Pandas: pd.read_csv

In [2]:
df = pd.read_csv('../Data/diamonds.csv')

In [3]:
print("Primeras 10 filas del dataset:")
df.head(10)

Primeras 10 filas del dataset:

   carat        cut color clarity  depth  table price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0   326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0   326  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0   327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0   334   4.2  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0   335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0   336  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0   336  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9   55.0   337  4.07  4.11  2.53
8   0.22       Fair     E     VS2   65.1   61.0   337  3.87  3.78  2.49
9   0.23  Very Good     H     VS1   59.4   61.0   338     4  4.05  2.39

In [ ]:
print("Información inicial del dataset:")
df.info()

Información inicial del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53939 non-null  float64
 1   cut      53937 non-null  object
 2   color    53938 non-null  object
 3   clarity  53938 non-null  object
 4   depth    53940 non-null  float64
 5   table    53938 non-null  float64
 6   price    53938 non-null  object
 7   x        53938 non-null  object
 8   y        53939 non-null  float64
 9   z        53939 non-null  float64
dtypes: float64(5), object(5)
memory usage: 4.1+ MB

In [ ]:
df.describe()

              carat         depth         table             y             z
count  53939.000000  53940.000000  53938.000000  53939.000000  53939.000000
mean       0.797946     61.749405     57.457145      5.734479      3.538722
std        0.474013      1.432621      2.234521      1.142092      0.705700
min        0.200000     43.000000     43.000000      0.000000      0.000000
25%        0.400000     61.000000     56.000000      4.720000      2.910000
50%        0.700000     61.800000     57.000000      5.710000      3.530000
75%        1.040000     62.500000     59.000000      6.540000      4.040000
max        5.010000     79.000000     95.000000     58.900000     31.800000

In [6]:
df.shape

(53940, 10)

In [7]:
df.keys()

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [8]:
df.empty

False

In [9]:
df.query

<bound method DataFrame.query of        carat        cut color clarity  depth  table price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0   326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0   326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0   327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0   334   4.2  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0   335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...   ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0  2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0  2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0  2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0  2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0  2757  5.83  5.87  3.64

[53940 rows x 10 columns]>

In [10]:
df.values

array([[0.23, 'Ideal', 'E', ..., '3.95', 3.98, 2.43],
       [0.21, 'Premium', 'E', ..., '3.89', 3.84, 2.31],
       [0.23, 'Good', 'E', ..., '4.05', 4.07, 2.31],
       ...,
       [0.7, 'Very Good', 'D', ..., '5.66', 5.68, 3.56],
       [0.86, 'Premium', 'H', ..., '6.15', 6.12, 3.74],
       [0.75, 'Ideal', 'D', ..., '5.83', 5.87, 3.64]], dtype=object)

### 1.2. Limpieza de valores error:

Para trabajar más correctamente con un dataframe, es necesario limpia los datos, es decir, eliminar los valores nulos, duplicados y valores atípicos. Para ello, se pueden utilizar los siguientes métodos:

In [11]:
# Comprobar si hay valores nulos en cada columna (sean '?' o no)
print("Número de valores nulos por columna:")
print(df.isnull().sum())

Número de valores nulos por columna:
carat      1
cut        3
color      2
clarity    2
depth      0
table      2
price      2
x          2
y          1
z          1
dtype: int64

#### 1.2.1. hay columnas que tienen un valor '?', por tanto se deben reemplazar por un valor nan.

In [12]:
# Verificar si hay valores exactamente iguales a '?'
print((df == '?').any().any())

True

In [13]:
# Buscar las filas donde hay valores '?'
rows_with_question_mark = df.isin(['?']).any(axis=1)

# Mostrar las filas que contienen '?'
rows_with_question_mark_df = df[rows_with_question_mark]
print("Filas con valores '?':")
print(rows_with_question_mark_df)

Filas con valores '?':
       carat    cut color clarity  depth  table price     x     y     z
49222   0.56  Ideal     ?    VVS2   61.6   56.0  2081     ?  5.29  3.27
49227   0.50      ?     E    VVS2   61.7   61.0  2083  5.09  5.12  3.15
49229   0.70   Good     H     VS2   63.8   60.0     ?  5.59  5.51  3.54

In [14]:
# Reemplazar valores '?' por NaN
df = df.replace('?', np.nan)

In [15]:
# Comprobar si hay valores nulos en cada columna
print("Número de valores nulos por columna:")
print(df.isnull().sum())

Número de valores nulos por columna:
carat      1
cut        4
color      3
clarity    2
depth      0
table      2
price      3
x          3
y          1
z          1
dtype: int64

In [16]:
# Verificar si hay valores exactamente iguales a '?'
print((df == '?').any().any())

False

### 1.3. Cambio de tipo de dato: .astype() a numéricos y textos, por ejemplo a categorical y carat a float32 o float16

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53939 non-null  float64
 1   cut      53936 non-null  object
 2   color    53937 non-null  object
 3   clarity  53938 non-null  object
 4   depth    53940 non-null  float64
 5   table    53938 non-null  float64
 6   price    53937 non-null  object
 7   x        53937 non-null  object
 8   y        53939 non-null  float64
 9   z        53939 non-null  float64
dtypes: float64(5), object(5)
memory usage: 4.1+ MB

In [18]:
df["cut"] = df["cut"].astype("category")
df["x"] = df["x"].astype("float64") # Cambiar a float64 para poder usarlo para calcular el volumen
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53939 non-null  float64
 1   cut      53936 non-null  category
 2   color    53937 non-null  object
 3   clarity  53938 non-null  object
 4   depth    53940 non-null  float64
 5   table    53938 non-null  float64
 6   price    53937 non-null  object
 7   x        53937 non-null  float64
 8   y        53939 non-null  float64
 9   z        53939 non-null  float64
dtypes: category(1), float64(6), object(3)
memory usage: 3.8+ MB

##### 1.3.1. cambio de tipo de dato de carat , a float16

In [19]:
df["carat"] = df["carat"].astype("float16")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53939 non-null  float16
 1   cut      53936 non-null  category
 2   color    53937 non-null  object
 3   clarity  53938 non-null  object
 4   depth    53940 non-null  float64
 5   table    53938 non-null  float64
 6   price    53937 non-null  object
 7   x        53937 non-null  float64
 8   y        53939 non-null  float64
 9   z        53939 non-null  float64
dtypes: category(1), float16(1), float64(5), object(3)
memory usage: 3.4+ MB

### 1.4. Limpieza de nulos (limpiar valores NaN):

In [ ]:
# df['cut'].fillna(df['cut'].mode()[0], inplace=True)

In [21]:
# Comprobar si hay valores nulos en cada columna
print("Número de valores nulos por columna:")
print(df.isnull().sum())

Número de valores nulos por columna:
carat      1
cut        4
color      3
clarity    2
depth      0
table      2
price      3
x          3
y          1
z          1
dtype: int64

In [22]:
'''def quita_nan(df):
    for i in df.keys():
        print(i)
        df[i].fillna(df[i].mode()[0], inplace=True)'''

'def quita_nan(df):\n    for i in df.keys():\n        print(i)\n        df[i].fillna(df[i].mode()[0], inplace=True)'

In [32]:
def quita_nan(df):
    for i in df.keys():
        # Calcular la asimetría (skewness) de la columna
        skewness = stats.skew(df[i].dropna())
        print(f'Asimetría de: {i} : {skewness}')

        # Reemplazar NaN según la asimetría
        if skewness > 1:
            df[i].fillna(df[i].median(), inplace=True)
            print(f"Rellenando nulos en {col} con la mediana")

        else:
            df[i].fillna(df[i].mean(), inplace=True)
            print(f"Rellenando nulos en {col} con la media")

In [33]:
quita_nan(df)
print()
print("Número de valores nulos por columna:")
print(df.isnull().sum())

Asimetría de: carat : 1.1171875

C:\Users\carol\AppData\Local\Temp\ipykernel_31512\3639255334.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[i].fillna(df[i].median(), inplace=True)

NameError: name 'col' is not defined

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float16
 1   cut      53936 non-null  category
 2   color    53937 non-null  object
 3   clarity  53938 non-null  object
 4   depth    53940 non-null  float64
 5   table    53938 non-null  float64
 6   price    53937 non-null  object
 7   x        53937 non-null  float64
 8   y        53939 non-null  float64
 9   z        53939 non-null  float64
dtypes: category(1), float16(1), float64(5), object(3)
memory usage: 3.4+ MB

In [25]:
df.head(30)

c:\Users\carol\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

       carat        cut color clarity  depth  table price     x     y     z
0   0.229980      Ideal     E     SI2   61.5   55.0   326  3.95  3.98  2.43
1   0.209961    Premium     E     SI1   59.8   61.0   326  3.89  3.84  2.31
2   0.229980       Good     E     VS1   56.9   65.0   327  4.05  4.07  2.31
3   0.290039    Premium     I     VS2   62.4   58.0   334  4.20  4.23  2.63
4   0.310059       Good     J     SI2   63.3   58.0   335  4.34  4.35  2.75
5   0.239990  Very Good     J    VVS2   62.8   57.0   336  3.94  3.96  2.48
6   0.239990  Very Good     I    VVS1   62.3   57.0   336  3.95  3.98  2.47
7   0.260010  Very Good     H     SI1   61.9   55.0   337  4.07  4.11  2.53
8   0.219971       Fair     E     VS2   65.1   61.0   337  3.87  3.78  2.49
9   0.229980  Very Good     H     VS1   59.4   61.0   338  4.00  4.05  2.39
10  0.300049       Good     J     SI1   64.0   55.0   339  4.25  4.28  2.73
11  0.229980      Ideal     J     VS1   62.8   56.0   340  3.93  3.90  2.46
12  0.219971    Premium     F     SI1   60.4   61.0   342  3.88  3.84  2.33
13  0.310059      Ideal     J     SI2   62.2   54.0   344  4.35  4.37  2.71
14  0.199951    Premium     E     SI2   60.2   62.0   345  3.79  3.75  2.27
15  0.320068    Premium     E      I1   60.9   58.0   345  4.38  4.42  2.68
16  0.300049      Ideal     I     SI2   62.0   54.0   348  4.31  4.34  2.68
17  0.300049       Good     J     SI1   63.4   54.0   351  4.23  4.29  2.70
18  0.300049       Good     J     SI1   63.8   56.0   351  4.23  4.26  2.71
19  0.300049  Very Good     J     SI1   62.7   59.0   351  4.21  4.27  2.66
20  0.300049       Good     I     SI2   63.3   56.0   351  4.26  4.30  2.71
21  0.229980  Very Good     E     VS2   63.8   55.0   352  3.85  3.92  2.48
22  0.229980  Very Good     H     VS1   61.0   57.0   353  3.94  3.96  2.41
23  0.310059  Very Good     J     SI1   59.4   62.0   353  4.39  4.43  2.62
24  0.310059  Very Good     J     SI1   58.1   62.0   353  4.44  4.47  2.59
25  0.229980  Very Good     G    VVS2   60.4   58.0   354  3.97  4.01  2.41
26  0.239990    Premium     I     VS1   62.5   57.0   355  3.97  3.94  2.47
27  0.300049  Very Good     J     VS2   62.2   57.0   357  4.28  4.30  2.67
28  0.229980  Very Good     D     VS2   60.5   61.0   357  3.96  3.97  2.40
29  0.229980  Very Good     F     VS1   60.9   57.0   357  3.96  3.99  2.42

#### 1.4.1. Nulos en columnas continuas: mediana, media

#### 1.4.2. Nulos en columnas categóricas: moda, un valor fijo

### 1.5. Encoding: texto a numérico

####  1.5.1. Uso de la función get_dummies() para encoding one_hot

#### 1.5.2. Uso de map para encoding ordinal para la columna cut como una nueva columna cut_int: 1, 2, 3, 4

## PARTE 2: 25 % transformaciones:

### 2.1. Crear una columna price_iva a partir de la columna price que muestre el precio + IVA (21%). 
        * Ejemplo df['price'] * 1.21

### 2.2. Crear una columna price_discount usando apply a partir de la columna price(con lambda o def):
        * price < 1000 and cut == 'Ideal' entonces 10 % descuento
        * 1000 <= price <= 5000 and cut == 'Premium' entonces 15 % descuento
        * si no entra en las condiciones sin descuento, devolver el precio original

### 2.3. Crear una nueva columna volumen combinando: x * y * z

### 2.4. Ordenar por dos columnas con sort_values():

#### 2.4.1. tipo de corte (cut) y precio (price)

### 2.5. Agrupaciones con groupby y visualizarla

#### 2.5.1. Agrupar por las 3 que hay de tipo categórico calculando la media, max, min por ejemplo de alguna de las numéricas: price, carat, depth

## PARTE 3: 20 % distribuciones:

### 3.1. Outliers: Visualización Q1 y Q3 y calcular límites tukey y filtrar. Sobre la columna precio.

### 3.2. asimetría, curtosis y transformar datos con logaritmo o raíz cuadrada, aplicar sobre precio, visualizar el histograma y/o boxplot por tipo de corte. Opcional ajustar la escala.

### 3.3. Discretizar la columna precio por barato, medio, caro usando la función pd.cut

## PARTE 4: 30 % visualizaciones:

### 4.1. Seaborn EDAS:

In [ ]:
df.hist()

#### 4.1.1. univariantes:

#####  4.1.1.1. histogramas y curvas de densidad

##### 4.1.1.2. boxplot

#####  4.1.1.3. countplot

#### 4.1.2. bivariantes y multivariantes

##### 4.1.2.1. scatterplot con hue, con size, con style

##### 4.1.2.2. Calcular correlación con Pandas y mostrarla con seaborn

##### 4.1.2.3. Hacer la correlación en un gráfico de barras para la columna 'price'

##### 4.1.2.4. Crear una pivot table usando como index y columns algunas variables categóricas y como values usar el price y visualizarla con heatmap de seaborn

#### 4.1.3. Combinarlas con:

##### 4.1.3.1. hue, style, size, row, col usando un relplot

##### 4.1.3.2. filtro